.main_title{
    font-size: 72px;
}
.main{
    
}
.main_title_section_Business_title{
    font-size: 31px;    
}
.page{
    display: flex;
    justify-content: center;
    padding-top:72px;
    background-color: #0A369D;
    position: relative;
    &_link{
        &_logo {
          max-width:210px;
          width: auto;
          height: auto;
        }
      }

    &_front{
        background-color: white;
        border-radius: 2px  ;
        width: 1024px;

    }
    
}
